.footer {
  padding: 20px 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: 14% 66% 20%;
  color: white;
  background: #323232;
  @media screen and (max-width: 1100px) {
    grid-template-columns: 70% 30%;
  }
  @media screen and (max-width: 840px) {
    grid-template-columns: 50% 50%;
    padding: 15px;
  }
  @media screen and (max-width: 680px) {
    grid-template-columns: 40% 60%;
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: 25% 75%;
  }
  @media screen and (max-width: 300px) {
    grid-template-columns: 0% 100%;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .logo {
      max-height: 100px;
    }
    @media screen and (max-width: 1100px) {
      display: none;
    }
    @media screen and (max-width: 640px) {
      display: flex;
      .logo {
        height: 60px;
      }
    }
    @media screen and (max-width: 640px) {
      .logo {
        height: 35px;
      }
    }
    @media screen and (max-width: 300px) {
      display: none;
    }
  }
  .text-and-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    height: 100%;
    padding: 10px 30px;
    .text-footer {
      font-size: 1.1rem;
    }
    .footer-link {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 10px;
      font-size: 0.9rem;
      letter-spacing: 1px;
      height: 30px;
      margin-top: 20px;
      @media screen and (max-width: 640px) {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        width: 110px;
        background: #e3ffd8;
        height: 2px;
        top: -2px;
        transform: translate(-50%, -50%);
        left: 50%;
        border-radius: 20px;
      }
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
    @media screen and (max-width: 840px) {
      align-items: center;
      .text-footer {
        display: none;
      }
    }
  }
  .contact-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    gap: 20px;
    height: 100%;
    @media screen and (max-width: 840px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    @media screen and (max-width: 480px) {
      padding-left: 5px;
    }

    .contact-infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
    .contact-phone,
    .contact-email {
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .contact-phone {
      a {
        font-size: 0.9rem;
      }
    }
    .person-contact {
      @media screen and (max-width: 570px) {
        display: none;
      }
    }
    .img-contact {
      height: 70px;
      width: 70px;
      border-radius: 500px;
      object-fit: cover;
    }
    h5 {
      font-size: 1rem;
      letter-spacing: 2px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0.025rem;
      height: 100%;
      background: #ffffff;
      left: 0;
      top: 0;
    }
  }
}
