.infos {
  background: url(/assets/img/saleccia-3.webp);
  height: 60vh;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  @media (hover: none) {
    background-attachment: initial;
  }
  .img-infos {
    height: 100%;
    max-width: 80%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    letter-spacing: 2px;
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-weight: 400;
      @media screen and (max-width: 540px) {
        display: none;
      }
    }
  }
}

.map-contact {
  padding: 30px 80px;
  background-color: rgb(223, 223, 208);
  width: 100%;
  @media screen and (max-width: 1000px) {
    padding: 30px;
  }
  @media screen and (max-width: 450px) {
    padding: 20px 0px 0px;
  }
  .map-container {
    width: 100%;
    height: 100%;
  }
  .map {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    @media screen and (max-width: 450px) {
      border-radius: 0;
    }
  }

  .contact-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    height: 100%;
    font-size: 1.1rem;
    .contact-phone,
    .contact-email {
      display: flex;
      gap: 5px;
      align-items: flex-end;
    }
    .contact-phone {
      a {
        font-size: 0.9rem;
      }
    }
    .person-contact {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      .img-contact {
        height: 80px;
        width: 80px;
        border-radius: 500px;
        object-fit: cover;
      }
      h5 {
        font-size: 1.2rem;
      }
    }
  }
}
