.slideshow {
  width: 100%;
  height: 100%;
  aspect-ratio: calc(16 / 9);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .prevButton,
  .nextButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 500px;
    font-size: 1.5rem;
    width: 36px;
    height: 36px;
    background-color: #ffffff5e;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    backdrop-filter: blur(1px);
    &:hover {
      color: #565656;
      background-color: rgba(255, 255, 255, 0.867);
    }
  }
  .prevButton {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
  }
  .nextButton {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
  }
  .more-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 13px;
    width: 120px;
    height: 33px;
    font-size: 1.3rem;
    border-radius: 3px;
    border: none;
    background: #ffffff5e;
    transition: 0.5s;
    backdrop-filter: blur(1px);
    &:hover {
      width: 140px;
      color: #565656;
      background: rgba(255, 255, 255, 0.867);
      cursor: pointer;
    }
  }
}
